<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>

<h3 class="col-md-12 text-center">Elasticsearch server status: {{status}}</h3>
<!--<h2>{{chartTitle}}</h2>-->
<button mat-raised-button (click)="drawBars()" text="DRAWADSA"></button>
<div id="barChart"></div>

<div #chart></div>

<!--<ul *ngFor="let dogodek of dogodki">-->
    <!--<div>-->
        <!--Dogodek: {{dogodek.StevilkaZadeve}}-->
    <!--</div>-->
    <!--<div>-->
        <!--Datum: {{dogodek.DatumPN}}-->
    <!--</div>-->
    <!--<div *ngIf="dogodek.Povzrocitelj.length > 0">-->
        <!--<div>-->
            <!--Spol povzrocitelja: {{dogodek.Povzrocitelj[0].Spol}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--Starost povzrocitelja: {{dogodek.Povzrocitelj[0].Starost}}-->
    <!--</div>-->
    <!--<div *ngIf="dogodek.Udelezenec.length > 0">-->
        <!--<div>-->
            <!--Spol udelezenca: {{dogodek.Udelezenec[0].Spol}}-->
        <!--</div>-->
        <!--<div>-->
            <!--Starost udelezenca: {{dogodek.Udelezenec[0].Starost}}-->
        <!--</div>-->
    <!--</div>-->
<!--</ul>-->



